<div class="row p-0 m-0" >
  <div class="col-md-12 bg w-100">
  </div>
  <div class="py-5 my-5 col-md-12 height">
  <h1 class="text-center py-5 text-light text-shadow">L'autore</h1>
    <p class="fs-4 text-center text-light text-shadow">"Prestare ascolto è una delle cose più importanti e preziose della vita."</p>
  </div>
<div class="col-md-12 py-5 bg-white">
    <div class="container text-center">
      <div class="row">
      <div class="col-md-6 py-5">
<img src="../../../assets/about/me.jpg" class="w-100" alt="">
  </div>
  <div class="col-md-6 py-5 p-1" >
    <div class="input-wrapper">
      <label for="first">Scheda personale</label>
<div class="border p-5" style="height:100%">
<div class="row">
  <div class="col-lg-6">
    <h2>Nome:</h2>
  </div>
  <div class="col-lg-6">
    <p class="p">Raffaele</p>
  </div>
  <div class="col-lg-6">
    <h2>Cognome:</h2>
  </div>
  <div class="col-lg-6">
    <p class="p">Caravetta</p>
  </div>
  <div class="col-lg-6">
    <h2>
      Età:
    </h2>
  </div>
  <div class="col-lg-6">
    <p class="p">29</p>
  </div>
  <div class="col-lg-6">
    <h2>
      Professione:
    </h2>
  </div>
  <div class="col-lg-6">
    <p class="p">Web Developer</p>
  </div>
  <div class="col-lg-6">
    <h2>
     Interessi:
    </h2>
  </div>
  <div class="col-lg-6">
    <p class="p">Tecnologia, Fitness, Salute, Business.</p>
  </div>
  <div class="col-lg-6">
    <h2>
     Livello di curiosità:
    </h2>
  </div>
  <div class="col-lg-6">
 <div class="row">
  <div class="col-md-2 p-2">
    <div class="p-2 bg-black"></div>
  </div>
  <div class="col-2 p-2">
    <div class="p-2 bg-danger"></div>
  </div>
  <div class="col-2 p-2">
    <div class="p-2 bg-orange"></div>
  </div>
  <div class="col-2 p-2">
    <div class="p-2 bg-warning"></div>
  </div>
  <div class="col-2 p-2">
    <div class="p-2 bg-success"></div>
  </div>
  <div class="col-2 p-2">
    <div class="p-2 bg-success"></div>
  </div>
  <div class="col-12">
    <p class="fs-5 text-success text-end">100%</p>
  </div>
 </div>
  </div>
  <div class="col-lg-6 p-1 py-3 text-center">
    <img src="../../../assets/about/fitness.jpg" class="w-25 img">
    <p class="text-center py-2">Fitness</p>
      </div>
      <div class="col-lg-6 p-1 py-3 text-center">
    <img src="../../../assets/about/tech.png" class="w-25 img">
    <p class="text-center py-2">Tecnologia</p>
      </div>
      <div class="col-lg-6 p-1 py-3 text-center">
    <img src="../../../assets/about/health.webp" class="w-25 img">
    <p class="text-center py-2">Salute</p>
      </div>
      <div class="col-lg-6 p-1 py-3 text-center">
    <img src="../../../assets/about/money.png" class="w-25 img">
    <p class="text-center py-2">Business</p>
      </div>
</div>
</div>
    </div>
      </div>
      <div class="col-md-12 py-5">
        <h1>
          L'idea
        </h1>
        <p class="fs-6">
          L'idea è quella di fornire alle persone piccole, medie e grandi argomenti importanti e preziosi, che possono ispirare, migliorare, aggiustare la vita delle persone.
          Ovviamente è una cosa seria e ogni talk, ogni idea, ogni informazione è discussa con professionisti del loro specifico settore, con gente che ha già i risultati in mano,
          con giovani che hanno raggiunto condizioni di benessere, con persone che sono partite dal basso e che hanno realizzato imprese. A proposito di ciò, mi piace ricordare una
          bellissima
          frase che appena la lessi non capì, e la scrivo in inglese perchè rende meglio:
        </p>
         <p class="fs-6 border-top border-bottom py-4">"The secret of living is giving" - Cit. Tony Robbins</p>
          <p class="fs-6">
          In italiano si traduce con "Il segreto della vita è dare."<br>
          Ma in che senso?<br>
          Nel senso che tutto ciò che sappiamo se lo teniamo per noi, sicuramente ci insegna qualcosa, ma se lo condividiamo ci insegna e ci ritorna molto di più, perchè io posso osservare
          il tuo punto di vista mentre impari ciò che ho imparato io e viceversa, quindi c'è una comprensione più profonda della natura personale dell'essere umano e dell'individuo.
          Perciò nasce talk, perchè nella condivisione con il pubblico c'è una ri-condivisione con se stessi, che insegna di sicuro cose nuove. <br>
          - Raffaele Caravetta
        </p>
      </div>
      <div class="col-md-6 py-4">
<h2>Che ospiti vuoi portare?</h2>
<p class="fs-6">
Voglio sicuramente portare sulla scena delle persone qualificate o che hanno raggiunto risultati tangibili per proprio conto.
Queste possono essere :
</p>
<ul style="list-style-type: none;">
  <li>Medici</li>
  <li>Nutrizionisti</li>
  <li>Imprenditori</li>
  <li>Terapeuti</li>
  <li>Tecnici</li>
  <li>Sportivi</li>
  <li>Studenti</li>
  <li>Managers</li>
</ul>
      </div>
      <div class="col-md-6 py-4">
      <h2>Come vuoi strutturare i task?</h2>
      <p class="fs-6">
        Bhe, voglio instaurare una conversazione formale, amichevole, mantenendo comunque la professione dell'ospite. Non voglio proporre video brevi. Voglio offrire una panoramica ampia di
        problemi e soluzioni, voglio portare esempi pratici di gente che ce la fa tutti i giorni nella vita. Non solo di chi ha raggiunto 100/100 nell'ideale societario, ma anche di gente che
        vince le piccole sfide quotidiane di tutti i giorni.
      </p>
      </div>
      <div class="col-md-12 py-5">
        <h2>Quali sono le tue passioni?</h2>
      <p class="fs-6">
        Seppure possa sembrare semplice rispondere a questa domanda, non bisogna prenderla sottogamba. Anche perchè le passioni si aggiornano, si scoprono, cambiano, si aggiungono.
        Sicuramente le mie più grandi passioni sono la natura, lo studio, lo sport e la ricerca dell'equilibrio, dove per ricerca di equilibrio si intende vivera una vita incentrata
        sulla scoperta, quindi imparare e viaggiare.
      </p>
      </div>
      <div class="col-sm-3 p-3">
        <div class="bord1">
 <h2>Natura</h2>
        <img src="assets/about/nature.png" class="w-75" alt="">
        </div>
      </div>
      <div class="col-sm-3 p-3">
        <div class="bord2">
    <h2>Sport</h2>
        <img src="assets/about/sport.png" class="w-75" alt="">
        </div>
      </div>
      <div class="col-sm-3 p-3">
        <div class="bord3">
  <h2>Studio</h2>
        <img src="assets/about/study.png" class="w-75" alt="">
        </div>
      </div>
      <div class="col-sm-3 p-3">
        <div class="bord4">
   <h2>Equilibrio</h2>
        <img src="assets/about/life.png" class="w-75" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
