<footer class="bg-black">
  <div class="container text-center text-white">
    <div class="row">
      <div class="col-md-12 py-5">
        <h2>Condividiamo. Sperimentiamo. Cresciamo.</h2>
      </div>
<div class="col-md-6 py-5">
<h1>Talks</h1>
</div>
<div class="col-md-6 py-5">
<div class="row">
  <div class="col-md-12">
    <h2>Puoi trovarci su :</h2>
  </div>
  <div class="col-md-4 p-2">
    <div class="bg-light p-1">
      <img src="../../../assets/homepage/instagram_2111463.png" alt="" class="w-50">
    </div>
  </div>
  <div class="col-md-4 p-2">
    <div class="bg-light p-1">
      <img src="../../../assets/homepage/facebook (1).png" alt="" class="w-50">
    </div>
  </div>
  <div class="col-md-4 p-2">
    <div class="bg-light p-1">
      <img src="../../../assets/homepage/LinkedIn.webp" alt="" class="w-50">
    </div>
  </div>
  <div class="col-md-4 p-2">
    <div class="bg-light p-1">
      <img src="../../../assets/homepage/tiktok.webp" alt="" class="w-50">
    </div>
  </div>
  <div class="col-md-4 p-2">
    <div class="bg-light p-1">
      <img src="../../../assets/homepage/youtube_4494485.png" alt="" class="w-50">
    </div>
  </div>
  <div class="col-md-4 p-2">
    <div class="bg-light p-1">
      <img src="../../../assets/homepage/twitch.png" alt="" class="w-50">
    </div>
  </div>
</div>
</div>
  <div class="col-md-12 py-3">
<p class="fs-5">
  Tutti i talk sono privati. Dichiarare di essere proprietari, appropriarsene per scopi illeciti, divulgare false versioni degli stessi significa commettere reato. E ci autorizza ad intraprendere
  azioni legali contro i malfattori.
</p>
  </div>
  <div class="col-md-12 py-3">
    <p class="fs-5">
      📍 Cosenza - Calabria.
    </p>
  </div>
    </div>
  </div>
</footer>
