<div class="row">
  <div class="position-relative">
  <img src="../../../assets/homepage/homepage.jpg" alt="" class="w-100 position-fixed top-0" style="height:90vh;z-index: -1;">
  <div style="height: 90vh" class="position-relative row">
    <div class="position-absolute title w-100">
<h1 class="text-center py-5 text-light">Task</h1>
  <p class="fs-4 text-center text-light">Talk giornalieri per ogni tipo di eventualità.</p>
</div>
  </div>
</div>
<div class="col-md-12 py-5 bg-white">
  <div class="container">
      <div class="row">
 <div class="col-md-4 p-2 text-center text-light">
<div class="bg-black p-3 w-75 m-auto">
   <h2>Esperienza</h2>
</div>
<div class="bg-white p-3 text-black">
<p class="fs-6">In Ogni talk che facciamo parliamo di cose realmente accadute e non di cose che pensiamo o che potrebbero accadere.
FATTI!
</p>
</div>
</div>
<div class="col-md-4 p-2 text-center text-light">
<div class="bg-black p-3 w-75 m-auto">
<h2>Persone reali</h2>
</div>
<div class="bg-white p-3 text-black">
<p class="fs-6">I talk vengono fatti da persone reali in tempo reale! Non sono discorsi buttati giù dall'Intelligenza Artificiale! EMOZIONI!</p>
</div>
</div>
<div class="col-md-4 p-2 text-center text-light">
<div class="bg-black p-3 w-75 m-auto">
<h2>Risultati</h2>
</div>
<div class="bg-white p-3 text-black">
<p class="fs-6">I nostri ospiti sono persone che hanno ottenuto risultati nel loro ambito lavorativo,nella vita,nelle relazioni. RISULATI!</p>
</div>
</div>
<div class="col-md-6 py-5">

</div>
<div class="col-md-6 py-5">

</div>
  </div>
  </div>
  </div>
</div>
