<div class="row" >
  <div class="position-relative" >
  <img src="assets/homepage/homepage.jpg" alt="" class="position-fixed top-0 w-100" style="height:100%;z-index: -1;">
  <div style="height: 90vh;" class="row" >
    <div class="position-absolute title w-100">
<h1 class="text-center py-5 text-light">Talks</h1>
  <p class="fs-4 text-center text-light">Talk giornalieri per ogni tipo di evenienza.</p>
</div>
  </div>
</div>
<div class="col-md-12 py-5 bg-white w-100">
  <div class="container">
      <div class="row">
 <div class="col-md-4 p-2 text-center text-light">
<div class="bg-black p-3 w-75 m-auto">
   <p class="fs-4">Esperienza</p>
</div>
<div class="bg-white p-3 text-black border-start border-end">
<p class="fs-6">In Ogni talk che facciamo parliamo di cose realmente accadute e non di cose che pensiamo o che potrebbero accadere.
FATTI!
</p>
</div>
</div>
<div class="col-md-4 p-2 text-center text-light">
<div class="bg-black p-3 w-75 m-auto">
<p class="fs-4">Persone reali</p>
</div>
<div class="bg-white p-3 text-black border-start border-end">
<p class="fs-6">I talk vengono fatti da persone reali in tempo reale! Non sono discorsi buttati giù dall'Intelligenza Artificiale! EMOZIONI!</p>
</div>
</div>
<div class="col-md-4 p-2 text-center text-light">
<div class="bg-black p-3 w-75 m-auto">
<p class="fs-4">Risultati</p>
</div>
<div class="bg-white p-3 text-black border-start border-end">
<p class="fs-6">I nostri ospiti sono persone che hanno ottenuto risultati nel loro ambito lavorativo,nella vita,nelle relazioni. RISULATI!</p>
</div>
</div>
<div class="col-md-6 py-5 text-center">
<p class="text-black fs-1" style="line-height: 1.2;">Di cosa parliamo e sosteniamo?</p>
<p class="fs-4 g" style="line-height: 1.2;" data-aos="fade-right" data-aos-duration="2000">Salute</p>
<p class="fs-4 g" style="line-height: 1.2;" data-aos="fade-right" data-aos-duration="2000">Esercizio Fisico</p>
<p class="fs-4 g" style="line-height: 1.2;" data-aos="fade-right" data-aos-duration="2000">Business</p>
<p class="fs-4 g" style="line-height: 1.2;" data-aos="fade-right" data-aos-duration="2000">Carriera</p>
<p class="fs-4 g" style="line-height: 1.2;" data-aos="fade-right" data-aos-duration="2000">Relazioni</p>
<p class="fs-4 g" style="line-height: 1.2;" data-aos="fade-right" data-aos-duration="2000">Alimentazione</p>
<p class="fs-4 g" style="line-height: 1.2;" data-aos="fade-right" data-aos-duration="2000">Lavoro</p>
<p class="fs-4 g" style="line-height: 1.2;" data-aos="fade-right" data-aos-duration="2000">Storie di successo</p>
</div>
<div class="col-md-6 py-5">
<img src="assets/homepage/wellness.jpg" class="w-100 rounded border shadow" alt="">
</div>
<div class="col-md-6 py-5">
  <img src="assets/homepage/addictions.jpg" class="w-100 rounded border shadow" alt="">
</div>
<div class="col-md-6 py-5 text-center">
  <p class="text-black fs-1" style="line-height: 1.2;">Cosa non sosteniamo e non incoraggiamo?</p>
  <p class="fs-4 r" style="line-height: 1.2;" data-aos="fade-left" data-aos-duration="2000">Dipendenze</p>
  <p class="fs-4 r" style="line-height: 1.2;" data-aos="fade-left" data-aos-duration="2000">Droghe</p>
  <p class="fs-4 r" style="line-height: 1.2;" data-aos="fade-left" data-aos-duration="2000">Sedentarietà</p>
  <p class="fs-4 r" style="line-height: 1.2;" data-aos="fade-left" data-aos-duration="2000">Cibo spazzatura</p>
  <p class="fs-4 r" style="line-height: 1.2;" data-aos="fade-left" data-aos-duration="2000">Odio</p>
  <p class="fs-4 r" style="line-height: 1.2;" data-aos="fade-left" data-aos-duration="2000">Nullafacenza</p>
  <p class="fs-4 r" style="line-height: 1.2;" data-aos="fade-left" data-aos-duration="2000">Ignoranza</p>
  <p class="fs-4 r" style="line-height: 1.2;" data-aos="fade-left" data-aos-duration="2000">Cose illegali</p>
</div>
      </div>
      </div>

      <div class="row">
<div class="col-md-12 py-5 text-center bg-light w-100">
  <h2>
    Non vendiamo i nostri talk!
  </h2>
  <p class="fs-5">
    Tutti i nostri talk sono gratis ed accessibili in qualsiasi momento.
  </p>
  <div class="w-100">
      <img src="assets/homepage/nomoney.gif" class="w-50 m-auto" style="max-width: 200px;" alt="">
  </div>
</div>
  </div>
  <div class="container text-center overflow-auto">
    <div class="row py-5">
      <div class="col-md-12 py-5">
<h2>Siamo presenti su più social</h2>
      </div>
      <div class="col-lg-4 py-5">
              <img src="assets/homepage/instagram_2111463.png" class="w-50" alt="">
              <h2>Instagram</h2>
              <p>
                           Condividiamo immagini, reels e momenti dei nostri talk, o del nostro backoffice o di altro relativo a Talk.
              </p>
       </div>
      <div class="col-lg-4 py-5">
        <img src="assets/homepage/youtube_4494485.png" class="w-50" alt="">
        <h2>Youtube</h2>
           <p>
                          Condividiamo i video dei talk, qualche reel. Generalmente i nostri video durano un'ora e manteniamo una qualità alta.
      </div>
      <div class="col-lg-4 py-5">
        <img src="assets/homepage/facebook (1).png" class="w-50" alt="">
        <h2>Facebook</h2>
           <p>
                          Coltiviamo la nostra pagina facebook con aggiornamenti costanti, sulle novità, video e uscite dei canali.
              </p>
      </div>
      <div class="col-lg-4 py-5">
<img src="assets/homepage/LinkedIn.webp" class="w-50" alt="">
<h2>Linkedin</h2>
   <p>
Nutriamo l'aspetto aziendale di Talk, ricerchiamo clienti, promuoviamo movimenti e attiriamo clienti.
              </p>
</div>
<div class="col-lg-4 py-5">
  <img src="assets/homepage/tiktok.webp" class="w-50" alt="">
  <h2>TikTok</h2>
     <p>
Facciamo anche qualche tiktok! Ci divertiamo e condividiamo i nostri video anche qui.              </p>
  </div>
  <div class="col-lg-4 py-5">
    <img src="assets/homepage/twitch.png" class="w-50" alt="">
    <h2>Twitch</h2>
       <p>
Andiamo Live su twitch. Interagiamo con la chat e, ovviamente, offriamo l'anteprima dei nostri Talk.              </p>
    </div>
    <div class="col-md-12 py-5">
      <h2>Abbiamo una missione 🎯</h2>
    </div>
    <div class="col-md-12 py-5">
      <img src="assets/homepage/mission.jpg" data-aos="fade-left" class="w-100" data-aos-duration="2000" alt="">
    </div>
    <div class="col-md-12">
      <h2>Che missione abbiamo?</h2>
      <p class="fs-5">
      <span class="rainbow fw-bold border-bottom"> Essere un faro per chi sta cercando la luce.</span> <br>
      </p>
      <p class="py-5 fs-6">
      Sia chiaro, noi non vogliamo indottrinare niente, e non vogliamo incitare nessuno ad intraprendere azioni senza prima il consenso di un medico. Noi promuoviamo, con professionisti,
      il dibattito creativo, informale, la profusione di informazioni preziose in ambiti lavorativo, salutare, fisico, ed altro. La nostra missione è proprio fornire gli spunti, le nozioni
      e le strategie che persone che hanno raggiungo un obiettivo, o molteplici obiettivi hanno dovuto sperimentare, scoprire, applicare per raggiungere il loro personale successo in quel
      specifico ambito. Per nessun motivo vogliamo incitare qualunque individuo all'uso di sostanze nocive, all'adottamento di abitudini deleterie, a vivere uno stile di vita sedentario.
    <span class="text-success">
       Vogliamo lasciare fiori sul nostro cammino.
    </span>
      Vogliamo lasciare il mondo migliore di come lo abbiamo trovato.
      <span class="text-danger">
        Vogliamo iniziare da noi stessi.
      </span>
    </p>
    </div>
    <div class="col-md-3">
      <img src="../../../assets/homepage/healt.png" class="w-50" alt="" data-aos="fade-right" data-aos-duration="2000">
      <p class="fs-5 py-2">Longevità</p>
    </div>
    <div class="col-md-3">
      <img src="../../../assets/homepage//missionIcon.png" class="w-50" alt="" data-aos="fade-left" data-aos-duration="2000">
      <p class="fs-5 py-2">Missione</p>
    </div>
    <div class="col-md-3">
      <img src="../../../assets/homepage/money.png" class="w-50" alt="" data-aos="fade-right" data-aos-duration="2000">
      <p class="fs-5 py-2">Business</p>
    </div>
    <div class="col-md-3">
      <img src="../../../assets/homepage/sun-icon.png" class="w-50" alt="" data-aos="fade-left" data-aos-duration="2000">
      <p class="fs-5 py-2">Benessere</p>
    </div>
    </div>
  </div>
</div>
  </div>
